:root {
	--font: "Roboto", sans-serif;
	--title-font: "Rajdhani", sans-serif;
	--text-color: #777777;
	--primary-color: #8252fa;
	--secondary-color: #eca2f1;
	--light-purple: #fcf8ff;
	--pink: #e93d88;
	--orange: #e5935a;
	--black: #222;
	--dark-blue: #22195e;
}

::selection {
	background: var(--secondary-color);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font);
	line-height: 2.4rem;
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--title-font);
	font-weight: 600;
	color: var(--black);
	line-height: 1.2;
}

input,
textarea,
button,
select {
	font-family: var(--font);
	border: none;
	outline: none;
	font-size: 1.4rem;
}

.btn {
	display: inline-block;
	font-family: var(--font);
	font-size: 1.4rem;
}

.wrapper {
	margin: 0 auto;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.btn {
	display: inline-block;
	min-width: 14.5rem;
	font-family: var(--font);
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	padding: 1.2rem 3.5rem;
	border-radius: 0.5rem;
	color: #fff;
	border: 2px solid transparent;
	outline: none;
	transition: all 0.3s linear;
}

.btn--primary {
	border-color: #fff;
	background: rgba(255, 255, 255, 0.1);
}

.btn--primary:hover {
	background: #fff;
	color: var(--black);
}

.btn--filled {
	background-image: linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color) 100%),
		radial-gradient(circle at top left, var(--primary-color), var(--secondary-color));
	background-origin: border-box;
	background-clip: padding-box, border-box;
}

.btn--filled:hover {
	background: transparent;
	/* border: 2px solid transparent; */
	color: var(--black);
	background-image: linear-gradient(white, white), radial-gradient(circle at top left, var(--primary-color), var(--secondary-color));
	background-origin: border-box;
	background-clip: padding-box, border-box;
	box-shadow: 0 0 20px rgba(130, 82, 250, 0.25);
}

.btn--outline {
	color: var(--dark-blue);
	background-image: linear-gradient(white, white), radial-gradient(circle at top left, var(--primary-color), var(--secondary-color));
	background-origin: border-box;
	background-clip: padding-box, border-box;
}

.btn--outline:hover {
	background-image: linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color) 100%),
		radial-gradient(circle at top left, var(--primary-color), var(--secondary-color));
	color: #fff;
}

.boxed {
	max-width: 760px;
	padding: 0 1.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7.5rem;
	text-align: center;
}

.title-top {
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 2px;
	margin-bottom: 2rem;
}

.title-heading {
	font-size: 3.6rem;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 1.5rem;
}

.common-content {
	width: 100%;
	/* flex-shrink: 1; */
}

.common-top {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	position: relative;
}

.common-top:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0px;
	height: 1px;
	width: 50px;
	background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

.common-title {
	font-size: 3.6rem;
	line-height: 4.5rem;
	margin-bottom: 2rem;
}

.common-desc {
	margin-bottom: 3.5rem;
}

@media screen and (max-width: 1023px) {
	html {
		font-size: 55%;
	}
}

@media screen and (max-width: 767px) {
	html {
		font-size: 62.5%;
	}
}
